
<dl>
    <dt>
        <input id="payment_{{ sPaymentID }}" type="radio" name="paymentid" value="{{ sPaymentID }}" {% if oView.getCheckedPaymentId() == paymentmethod.oxpayments__oxid.value %}checked{% endif %}>
        <label for="payment_{{ sPaymentID }}"><b>{{ paymentmethod.oxpayments__oxdesc.value }}</b></label>
    </dt>
    <dd class="{% if oView.getCheckedPaymentId() == paymentmethod.oxpayments__oxid.value %}activePayment{% endif %}">
        <div class="form-group" style="margin-left: 20px; padding-bottom:3px;">
            {{ script({
                include: 'https://cdn.novalnet.de/js/v2/NovalnetUtility.js',
                dynamic: __oxid_include_dynamic
              }) }}
              {{ script({
                include: oViewConf.getModuleUrl('nncreditcard', 'js/novalnetcreditcard.js'),
                dynamic: __oxid_include_dynamic
              }) }}
              <iframe id="novalnet_iframe" frameborder="0" scrolling="no"></iframe>
              <input type="hidden" name="dynvalue[novalnet_pan_hash]" id="novalnet_pan_hash" value="">
              <input type="hidden" name="dynvalue[novalnet_unique_id]" id="novalnet_unique_id" value="">
              <input type="hidden" name="dynvalue[novalnet_do_redirect]" id="novalnet_do_redirect" value="">
              <input type="hidden" name="nncustomerdata" id="nncustomerdata" value="{{customerdata}}">
              
        </div>

    </dd>
</dl>